<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs')%>

<body>
    <%- include('./partials/nav.ejs') %> </ul>
  
    <div class="about content">
        <h2>About Us</h2>
        <p>About Us</p>
        <p>Still About Us</p>
    </div>
    <%- include('./partials/footer.ejs') %>
</body>
</html>